<div [class]="status?.playerColor | lowercase">
    <app-piles [side]="Side.player"></app-piles>
    <app-hand-cards (selectCard)="selectCard($event)" [cards]="status?.playerCards" [selectedCard]="status?.selectedCard">
    </app-hand-cards>
    <app-draw-pile [side]="Side.player"></app-draw-pile>
    <h2 [ngClass]="{'active': status?.active}">{{status?.playerName}}</h2>
</div>