<div class="card draw-pile" [ngClass]="{'selected': selected}"><img *ngIf="!card" height="75px"
        [src]="'assets/card_gold.svg'" /><img *ngIf="card" height="75px" [src]="'assets/card_gold_' + card + '.svg'" />
</div>