<div class="piles">
    <app-card [card]="1"></app-card>
    <app-card [class]="{clickable: status?.active}" (click)="playCard('up')" [card]="up"></app-card>
    <app-card [class]="{clickable: status?.active}" (click)="playCard('down')" [card]="down"></app-card>
    <app-card [card]="60"></app-card>
</div>