.dialog {
  background-color: #2423238c;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
  .banner {
    height: 50px;
    position: fixed;
    top: calc(50% - 25px);
    width: 100%;
  }
}

