<div *ngIf="message" class="dialog">
  <div
    class="banner"
    [style]="{ backgroundColor: status.winnerColor.toLowerCase() }"
  >
    <span>{{ message }}</span>
  </div>
</div>
<div class="container">
  <h1>The Game - Face to Face</h1>
  <app-opponent
    [active]="!status?.active"
    [name]="status?.opponentName"
    [numCards]="status?.numOpponentCards"
    [piles]="status?.pilesOpponent"
  >
  </app-opponent>
  <app-player></app-player>
</div>
