<div *ngIf="cards" class="hand-cards">
    <app-card *ngFor="let card of cards" [class]="{clickable: status?.active}" (click)="selectCard.emit(card)" [card]="card"
        [selected]="card === selectedCard">
    </app-card>
</div>
<div *ngIf="!cards && numCards" class="hand-cards">
    <app-card *ngFor="let _ of numCards | array"></app-card>
</div>