div {
    border: 1px solid;
    padding: 10px;
}

div.gold {
    background: rgba(218, 165, 32, 0.5);
    border-color: rgba(218, 165, 32);
}

div.silver {
    background: rgba(192, 192, 192, 0.5);;
    border-color: rgba(192, 192, 192);
}

h2.active {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    background-color: lavenderblush;
}