<div [class]="status?.opponentColor | lowercase">
    <h2 [ngClass]="{'active': active}">{{name}}</h2>
    <app-draw-pile></app-draw-pile>
    <app-hand-cards [numCards]="numCards"></app-hand-cards>
    <app-piles [side]="Side.opponent"></app-piles>
</div>